@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');/*
----------------------------
reset
----------------------------
*/
/* a 링크 초기화 */
a {color: #000; text-decoration: none;}
a:hover {color: #000;}

/*html{font-size: 16px;}*/

*{padding: 0;margin: 0;}
/* 폰트 초기화 */
body, input, textarea, select, button, table {font-weight: 300; font-family: 'Poppins', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #000; font-size: 1rem; line-height: 1.25;background: #000}

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style:none;}

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 1rem; font-weight: normal;}

/* 테두리 초기화 */
img,fieldset {border:0 none;}

/* 버튼 초기화 */
button {border: 0;}

/* 반응형 */
video,img {width: 100%;display: block;height: auto}
*:focus{outline:none;}

/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}

/* hidden 효과 */
.hidden {display:none; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} 


/* input style */
input {background-image: none;}
input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
    -webkit-appearance: none;
    border-radius: 0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox
}






/*스크롤 애니메이션*/
.ease-clip-down {
    transition: 2.5s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
}

.ease-clip-down.animated {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.ease-up {
    transition: 2.5s ease;
    transform: translate3d(0, 15rem, 0)
}


/*메인배경 애니매이션*/
.ease-up.animated {
    transform: translateZ(0)
}

        @keyframes flicker {
            0% {
                filter: hue-rotate(0deg);
                opacity: 0;
                transform: translateX(0);
            }

            89% {
                opacity: 0;
                transform: translateX(0);
            }

            90% {
                opacity: 0.9;
                transform: translateX(2px);
            }

            91% {
                transform: translateX(0);
            }

            92% {
                filter: hue-rotate(0deg);
                transform: translateX(-1px);
            }

            93% {
                filter: hue-rotate(30deg);
                transform: translateX(-2px);
            }

            95% {
                filter: blur(1px);
                transform: translateX(6px);
            }

            97% {
                filter: hue-rotate(5deg);
                transform: translateX(-1px);
            }

            98% {
                filter: blur(0px);
                filter: hue-rotate(0deg);
                transform: translateX(2px);
            }

            99% {
                opacity: 0.9;
                transform: translateX(-3px);
            }

            100% {
                filter: hue-rotate(0deg);
                opacity: 0;
                transform: translateX(0);
            }
        }

        @keyframes skew {
            0% {
                opacity: 0.7;
                transform: skew(0deg, 0deg);
            }

            10% {
                transform: skew(0deg, 0deg);
            }

            12% {
                filter: hue-rotate(0deg);
                transform: skew(-15deg, 0deg);
            }

            14% {
                filter: hue-rotate(-10deg);
                opacity: 0.5;
                transform: skew(15deg, 0deg);
            }

            16% {
                filter: hue-rotate(25deg);
                opacity: 0.7;
                transform: skew(0deg, 0deg);
            }

            17% {
                opacity: 0;
            }

            100% {
                opacity: 0;
                transform: skew(0deg, 0deg);
            }
        }

